.map_container{
  margin-bottom: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #00A3E0;
  border-radius: 1px;
  width: 50vw;
  min-width: 250;
  max-width: 275;
  height: 20vw;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .headLine {
    text-align: center;
    height: 10vw;
  }
  
  .page {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding-top: 1px;
  }
  
  .page h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .page p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .page iframe {
    width: 100%;
    border: none;
  }
  
  .page h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .page p.address {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-top: 0px;
  }
  
  .contact_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
  }