@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: #00A3E0;
  font-family: Roboto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

:root:before{
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 50%;
  z-index: -1;
  background-image: url('./assets/innovaction2.png');
  background-color: #00A3E0;
  background-size: 100px 100px;
  animation: moveBackground 5s linear infinite;
}


@keyframes moveBackground {
  0% { background-position: 0 0; }
  100% { background-position: 100px 100px; }
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

table{
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

th{
  border-style: solid;
  border-color: yellow;
  border-width: 1px;
  width: 30px;
  height: 30px;
  padding: 2px;
}

td{
  border-style: solid;
  border-color: red;
  border-width: 1px;
  min-width: 30px;
  height: 30px;
  padding: 2px;

}

a {
  font-weight: 500;
  color: #00A3E0;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 1000px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: Aldricht;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

input{
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFFFFF;
  border-radius: 3px;
  color: black;
}

textarea{
  resize: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFFFFF;
  border-radius: 3px;
  color: black;
}

label{
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: black;
  margin-top: 10px;
}

select{
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFFFFF;
  border-radius: 3px;
  color: black;
  width: 180px;
  cursor: pointer;
}

input[type=datetime-local]::-webkit-calendar-picker-indicator {
  background-color: #DDDDDD;
}


.header{
  min-width: 1000px;
}
/*   ------------------ HeadLine y Containers      -------------------*/
.page{
  min-width: 80%;
  margin: 0 auto;
  float: top;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.279);
}

.container{
  min-width: 80%;
  margin: 0 auto;
}

.headLine{
min-width: 80%;
height: 10%;
margin: 0 auto;
float: top;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: #FFFFFF;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.279);

}

.headLine h1{
font-size: 38px;
color: black;
margin: 0 auto;
font-family: Poppins;
font-weight: bold;

}



/*--------------Nav bar------------------*/
.navbar{
  background-color: #FFFFFF;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 0px;
  border-style: solid;
  border-color: #00A3E0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.279);
}

.navbar button{
  background-color: white;
  border: none;
  border-style: none;
  color: black;
  margin: 5px;
  font-size: 25px;
  width: 240px;
}

.navbar button:hover{
  color: #00A3E0;
}

.title-card{
  background-color: #FFFFFF;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

.title{
  font-size: 50px;
  font-weight: 500;
  color: #00A3E0;
  margin: 0 auto;
  font-family: Poppins;
  font-weight: bold;
}

.logo{
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 
/*--------------      Agendar tu evento   -------------*/
.form-field{
  width: 90%;
  margin-left: 4%;
}
.form-field label{
  font-size: 4dvh;
  font-weight: 500;
  font-family: Roboto;
  color: #0054a8;
  margin-top: 30px;
  font-style: bold;
  text-align: left;
  margin-left: 9.5%;
}
.form-field input{
  font-size: 3dvh;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #00A3E0; /* Línea en lugar de caja */
  color: black;
  width: 80%;
  height: 30px;
  margin-top: 1%;
}
.form-field select{
  font-size: 2.2vh;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #00A3E0; /* Línea en lugar de caja */
  color: black;
  width: 80%;
  height: 30px;
  margin-top: 1%;
}
.form-field textarea{
  font-size: 3dvh;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #00A3E0; /* Línea en lugar de caja */
  color: black;
  width: 80%;
  height: 80px;
  margin-top: 1%;
}
.form-field option{
  font-size: 3dvh;
  font-family: inherit;
  background-color: #F5F3F3;
  border-radius: 5px;
  color: black;
  width: 80%;
  height: 80px;
  margin-top: 1%;
}
.form-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.submit{
  width: 15%;
  height: auto;
  background-color: #00A3E0;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 10px;
  font-size: 3.5dvb;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

/*  ------------ Pagina de Inicio -------------------  */

.tit-inicio{
  font-family: Poppins;
  font-size: 35px;
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Esto asegura que el contenedor padre ocupe toda la altura de la vista */
  background-color: #535bf2;
}

.text-container {
  max-width: 80%;
  text-align: center;
  
  margin: auto;

}

.p-inicio{
  font-family: Poppins;
  font-size: 20px;
}

.slider{
  width: 1200px;
  max-width: 90vw;
  height: 400px;
  position: relative;
  overflow: hidden;  
  margin: 0 auto;
}
.slider .list{
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img{
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}
.slider .buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active{
  width: 30px;
}



/* Estilos para pantallas con un ancho máximo de 600px (teléfonos móviles) */
@media only screen and (max-width: 600px) {
  body {
    display: block;
    min-width: 100%;
    min-height: 100vh;
  }

  .page, .container, .headLine {
    min-width: 80%;
  }
  

  .navbar {
    margin-left: 10%;
  }
  .navbar button {
    font-size: 18px;
    width: 100%;
  }

  .title {
    font-size: 30px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .form-field {
    width: 100%;
    margin-left: 0;
  }

  .form-field label, .form-field input, .form-field select, .form-field textarea {
    font-size: 2dvh;
    width: 90%;
  }

  .form-container {
    display: block;
  }

  .submit {
    width: 90%;
  }

}

/* Estilos específicos para iPhone 14 Pro Max */
@media only screen and (max-width: 430px) and (max-width: 932px) {
  body {
    display: block;
    margin: 0;
    padding: 0;
  }

  .headLine {
    padding: 10px;
  }

  .page{
    max-height: 100%;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
    margin-left: 0;
  }

  .navbar button {
    font-size: 17px;
    width: 100%;
    text-align: left;
    padding: 10px;
    margin: 5px 0;
  }

  .title {
    font-size: 25px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}


/* Estilos específicos para iPhone 14 Pro Max */
@media only screen and (max-width: 390px) {
  body {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .headLine {
    padding: 0px;
  }

  .page{
    max-height: 100%;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
    margin-left: 0;
  }

  .navbar button {
    font-size: 15px;
    width: 100%;
    text-align: left;
    padding: 10px;
    margin: 5px 0;
  }

  .title {
    font-size: 25px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 414px) {
  body {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .headLine {
    padding: 0px;
  }

  .page{
    max-height: 100%;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
    margin-left: 0;
  }

  .navbar button {
    font-size: 15px;
    width: 100%;
    text-align: left;
    padding: 10px;
    margin: 5px 0;
  }

  .title {
    font-size: 25px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}
