/* Reporte.css */

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.page-button {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.page-button.active {
    background-color: #00a3e0;
    color: white;
    border: none;
}



.page-button:hover {
    background-color: #007bb5;
    color: white;
}

.headLine {
    text-align: center;
    height: 70px;
    max-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.headLine h1 {
    font-size: 24px;
}

.page {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding-top: 1px;
}


.table-container {
    width: 100%;
    overflow-x: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color:none;
    margin-top: 2%;
    border-radius: 25px;
    height: 70vh;
}

.tablee thead {
    background-color: #daeaf1;
}

.tablee  td {
  border-width: 2px;
  font-size: 1.05em;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chart {
    flex: 1 1 45%;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit {
    background-color: #097ffdfb;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-shadow : 0 3px 4px rgba(81, 157, 228, 0.651);
}

.delete{
    background-color: #ff0000;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-shadow : 0 3px 4px rgba(255, 0, 0, 0.651);
}

.inputt {
    width: auto;
    height: 90%; 
    padding: 2px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    overflow-wrap: break-word;
    word-wrap: break-word; 
    white-space: pre-wrap; 
    resize: none;
}

.inputt:focus {
    outline: none;
    border-color: #097ffdfb;
    background-color: rgb(224, 252, 255);
}

input[type="number"]{
    width: 90%;
}
.filters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crea columnas flexibles */
    gap: 6px; 
    padding: 10px;
    background: #cce7fff8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 0px;
}
.filterSelect {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    max-height: 40px;
    margin-top: 0px;
}

.filterInput {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    max-height: 40px;
    margin-top: 0px;
}
.filterButton {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    max-height: 40px;
    color: black;
    transition: 0.4s;
}

.filterButton:hover {
    background-color: #097ffdfb;
    color: white;
}
.filtLabel {
    font-size: 1.2em;
    margin-bottom: 0px;
  
}

.filtCont {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.date-popup {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}
.date-popup input {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 4px;
}


@media only screen and (max-width: 430px)  {
    .headLine {
        height: auto;
    }
    
    .chart {
        flex: 1 1 100%;
    }
}

